{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Login" %} {%endblock %}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/login.css" %}'
/>

<h1>{% trans "Login" %}</h1>
<form method="POST" class="Login" action="{% url "login_check" %}">
  {% csrf_token %}
  <div class="Login__username">
    <input
      type="Login"
      id="username"
      class="Login__username__input"
      name="username"
      placeholder=" "
    />
    <label class="Login__label" for="username">{% trans "Login" %}</label>
  </div>
  <div class="Login__password">
    <input
      type="password"
      id="password"
      class="Login__password__input"
      name="password"
      placeholder=" "
    />
    <label class="Login__label" for="password">{% trans "Passowrd" %}</label>
  </div>
  <div class="Login__buttons">
    <button type="submit" class="Login__button__login">{% trans "Login" %}</button>

    <a class="Login__button__register" href="{% url 'user_register' %}"
      >{% trans "Registration" %}</a
    >
  </div>
  <div class="Login__messages">
    {% if messages %}
      {% for message in messages %}
        <li class="Login__messages__{{ message.tags }}" >
          {{ message }}
        </li>
      {% endfor %}
    {% endif %}
  </div>
</form>

<a class="Password-reset" href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a>
{% endblock content %}
