{% extends 'main.html' %} {% load static %}
{% block title %}Akwarium{% endblock %}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/aqua.css" %}'
/>

<div class="container">
  <div class="select-aqua" id="select-aqua">
    <h1>Wybierz akwarium</h1>
      {% for aqua in aquas %}
        <input
          type="button"
          class="button"
          value="{{aqua.name}}"
          id="{{aqua.id}}"
        />
      {% endfor %}
    <h2 class="mess" id="mess" ></h2>
  </div>

  <div id="containers-aqua" class="containers-aqua">
    <h1>Wybierz kolor</h1>

    <input
      id="color"
      value="rgb(255,255,255)"
      data-jscolor="{}"
      class="jscolor jscolor-active"
      data-current-color="rgba(255,0,0)"
    />
    <P class="aqua-error-message"></P>

    <div id="settings-aqua">
      <h1>Ustawienia</h1>
      <h3>Załączenie led</h3>
      <input type="time" id="led-start" />
      <input type="time" id="led-stop" /> <br /><br />
      <p id="led-mess"></p>
      <input type="button" id="led-button" value="Ustaw" />

      <h3>Załączenie swietlówki</h3>
      <input type="time" id="fluolamp-start" />
      <input type="time" id="fluolamp-stop" /> <br /><br />
      <p id="fluolamp-mess"></p>
      <input type="button" id="fluolamp-button" value="Ustaw" />
    </div>

    <h3>Ustaw tryb pracy</h3>
    <input type="button" id="mode" value="Automat" />
    <div id="mode-buttons" class="mode-buttons" style="display: none">
      <h3>LED</h3>
      <input type="button" id="mode-button-led" />
      <h3>Świetlówka</h3>
      <input type="button" id="mode-button-fluolamp" />
    </div>
  </div>
</div>
<script src="{% static 'script/aqua.js' %}"></script>
<script src='{% static "script/jscolor.min.js" %}'></script>
{% endblock content %}
