{% extends 'main.html' %}
{% load static %}

{% block title %}Temperatura{% endblock %}
{% block content %}
<script src='{% static "script/chart2.js" %}'></script>
<script src='{% static "script/Chart.js" %}'></script>
<link rel='stylesheet' type='text/css' media='screen' href='{% static "style/chart.css" %}'>
<div class="container">
    <div class="char-containers">
        <form method="post" class="get-data">
            {% csrf_token %}
            <div class="select-data">
                <div>
                    <p>Wybierz datę od</p>
                    <input type="date" name="dataod">
                </div>
                <div>
                    <p>Wybierz datę do</p>
                    <input type="date" name="datado">
                </div>
            </div>
            <div class="select-place">
                <select name="lista">
                    {% for i in list_place %}
                    <option>{{i}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Pokaz">
            </div>
        </form>
        {% if data_temp|length == 0  %}
        <div class="display-char">
             <p>Brak danych do wyświetlenia</p>
        </div>

        {% elif  data_average_data|length > 7 %}
        <div class="display-char">
            <canvas id="myChart_srednia_dzien"></canvas>
        </div>
        <div class="display-char"> 
            <canvas id="myChart_srednia_noc"></canvas>
        </div>
        <script>
                wykres_srednia_dzien({{ data_average_temp_day|safe }}, {{ data_average_data|safe }}, "{{ place|safe }}");
                wykres_srednia_noc({{ data_average_temp_night|safe }}, {{ data_average_data|safe }});
            </script>
        {% else %}
        <div class="display-char">
        <canvas id="myChart"></canvas>
        </div>
        {%block scripts%}
        <script>
                wykres({{ data_temp|safe }}, {{ data_time|safe }}, "{{place|safe}}");
        </script>
        {%endblock scripts%}
    {% endif %}
            <ul id = "temp_avarage_containers">
                <li>
                    <p>Data</p>
                    <p>Średnia w nocy</p>
                    <p>Średnia w dzień</p>
                </li>
            </ul>
        </div>
    </div>
</div>
   <script>avarage_temp({{data_average_data|safe}},{{data_average_temp_night|safe}},{{data_average_temp_day|safe}})</script>
{% endblock content %}