{% extends 'main.html' %}
{% load static %}
{% block title %} Światło {%endblock %}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/light.css" %}'
/>
<section class="Led-container" id="led-container">
  {% for sensor in sensors %}
  <div class="Led-container__div">
    <p class="Led-container__div__light-name">{{sensor.name}}</p>
    {% for light in lights %}
      {% if light.sensor_id == sensor.id %} 
        {% if light.light == 1 %}
        <input
          type="image"
          class="Led-container__div__image"
          id="{{sensor.id}}"
          value="1"
          src="{% static 'images/lamp_on.png' %}"
        />
        {% else %}
        <input
          type="image"
          class="Led-container__div__image"
          id="{{sensor.id}}"
          value="0"
          src="{% static 'images/lamp_off.png' %}"
        />
        {% endif %}
      {% endif %}
    {% endfor %}
    <p class="Led-container__div__error-message"></p>
  </div>
  {% endfor %}
</section>
<script src="{% static 'script/light.js' %}"></script>
{% endblock content %}
