{% extends 'main.html' %}
{% load static %}
{% block title %} Reset hasła {% endblock %}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/password_reset.css" %}'
/>

<form method="post" class="Password-reset-new">
    {% csrf_token %}
    <h1 class="Password-reset-new__h1">Reset hasła</h1>
    {% for field in form %}
    <div class="Password-reset-new__div">
      <label for="id_{{field.name}}" class="Password-reset-new__div__label">
        {{field.label}}
      </label>
      {{ field }}
      {{ field.errors }}
    </div>
    {% endfor %}
    <button type="submit" class="Password-reset-new__submit">Zapisz hasło</button>
  </form>

{% endblock content %}
