{% extends 'main.html' %}
{% load static %}
{% block title %}Rolety{% endblock %}
{% block content %}
<script src="{% static 'script/sunblind.js' %}"></script>
<link rel='stylesheet' type='text/css' media='screen' href='{% static "style/sunblind.css" %}'>
<div class="container">
    <input type="button" value="Kalibracja" id="calibration">
    <ul class="sunblind-containers">
        <li>
            <p>Nazwa</p>
            <p>Suwak</p>
            <p class="calBtn" style="display: none;" id="cal_button_h">Kalibracja</p>
        </li>
        {% for sensor in sensors %}
            {% for sunblind in sunblinds %}
                {% if sensor.id == sunblind.sensor_id %}
                    <li >
                        <p>{{sensor.name}}</p>
                        <div>
                            <input type="range" value = "{{sunblind.value}}" class="slider" placeholder ={{sensor.pk}} >
                            <p id ={{sensor.pk}}>{{sunblind.value}}</p>
                        </div>
                        <a href="{% url 'calibration' sensor.pk %}" class="calBtn" style="display:none" id = "calibration">Kalibruj</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endblock content %}