{% extends 'main.html' %} {% load static %}
{% block title %}RPL{% endblock %}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/rpl.css" %}'
/>
<div class="container">
  <ul>
    <li class="lamp">
      <p>Wybierz lampy</p>
      {% for sensor in sensors %} {% if sensor.fun == 'lamp' %}
      <ul>
        <input type="radio" id="lamp" name="sen_fun" value="{{sensor.id}}" />
        <label for="{{sensor.name}}">{{sensor.name}}</label>
      </ul>
      {% endif %} {% endfor %}
    </li>
    <li class="rfid">
      <p>Wybierz czujnik</p>
      {% for sensor in sensors %} {% if sensor.fun == 'rfid' %}
      <ul>
        <input type="checkbox" id="rfid" value="{{sensor.id}}" />
        <label for="rfid">{{sensor.name}}</label>
      </ul>
      {% endif %} {% endfor %}
    </li>
    <li class="btn">
      <p>Wybierz przyciski</p>
      {% for sensor in sensors %} {% if sensor.fun == 'btn' %}
      <ul>
        <input type="checkbox" id="btn" value="{{sensor.id}}" />
        <label for="btn">{{sensor.name}}</label>
      </ul>
      {% endif %} {% endfor %}
    </li>
  </ul>
  <input type="button" id="rpl-btn" value="Zapisz" />
  <p class="mess" id="mess"></p>
</div>
<script src='{% static "script/rpl.js" %}'></script>
{% endblock content %}
