{% extends 'main.html' %} {% load static %}
{% block title %} Czujniki {% endblock %}
{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href='{% static "style/sensor.css" %}'>

<div class="container">
  <section class="sensor-add">
    <div class="select-sensor" id="select-sensor" style="display:none">
        <input type='text' id='sensor-name-add' placeholder="Podaj nazwę"> <br>
      <ul class="select">
        <li>
          <input type="radio" name="sensor-fun" class="sensor-fun" id="sensor-fun" value="temp" checked>
          <label for="temp">Temperatura</label>
        </li>
        <li>
          <input type="radio" name="sensor-fun" class="sensor-fun" id="sensor-fun" value="sunblind">
          <label for="rolety">Rolety</label>
        </li>
        <li>
        <input type="radio" name="sensor-fun" class="sensor-fun" id="sensor-fun" value="aqua">
        <label for="aqua">Akwarium</label>
        </li>
        <li>
        <input type="radio" name="sensor-fun" class="sensor-fun" id="sensor-fun" value="light">
        <label for="led">Swiatlo</label>
        </li>
        <li>
        <input type="radio" name="sensor-fun" class="sensor-fun" id="sensor-fun" value="stairs">
        <label for="stairs">Schody</label>
        </li>
        <li>
        <input type="radio" name="sensor-fun" class="sensor-fun" id="sensor-fun" value="rfid">
        <label for="rfid">Czujnik RFID</label>
        </li>
        <li>
        <input type="radio" name="sensor-fun" class="sensor-fun" id="sensor-fun" value="btn">
        <label for="btn">Przyciski</label>
        </li>
        <li>
          <input type="radio" name="sensor-fun" class="sensor-fun" id="sensor-fun" value="lamp">
          <label for="lamp">Lampy</label>
        </li>
        <li>
          <input type="radio" name="sensor-fun" class="sensor-fun" id="sensor-fun" value="uid" id="uid">
          <label for="uid">Krata/brelok</label>
        </li>
        <li class="select-rfid" id="select-rfid">
            {% for sensor in sensors %}
              {% if sensor.fun == "rfid" %}
              <ul>
                <input type="radio" name="rfid" class="sensor-fun-uid" id="sensor-fun-uid" value="uid" id="{{sensor.id}}">
                <label for="uid">{{sensor.name}}</label>
              </ul>
              {% endif %}
            {% endfor %}
        </li>
      </ul>
        <input type='button' value="Zapisz" id="save">
        <input type='button' value="Wróć" id="back">
    </div>
    <div>
      <p id="response"></p>
    </div>
    <div id="add-sensor-button">
      <input type="button" value="Dodaj czujnik" id="add-sensor" />
      <input type="button" value="Usuń czujnik" id="add-del-button" />
    </div>
    <input id="search" type="text" placeholder="Szukaj" />
  </section>
  <section class="sensor-container" id="sensor-container">
  <ul>
    <li>
      <ul  class="sensor">
        <p class="sensor-name-h">Nazwa</p>
        <p class="sensor-fun-h">Funkcja</p>
        <input
            type="image"
            src="{% static 'images/cross.png' %}"
            class="sensor-del-button"
            id="sensor-del-button"
          />
        </ul>
    </li>
    <li class="add_sensor_temp_container" id="add_sensor_temp_container">
      {% for sensor in sensors %} {% if sensor.fun == "temp" %}
      <ul class="sensor">
        <p class="sensor-name" id="sensor-name">{{sensor.name}}</p>
        <p class="sensor-fun">Temperatura</p>
        <input
            type="image"
            src="{% static 'images/cross.png' %}"
            id="sensor-del-button"
            class="sensor-del-button"
            placeholder="{{sensor.id}}"
            
          />
      </ul>
      {% endif %} {% endfor %}
    </li>
    <li class="add-rolety-container" id="add-rolety-container">
      {% for sensor in sensors %} {% if sensor.fun == "sunblind" %}
      <ul class="sensor">
        <p class="sensor-name" id="sensor-name">{{sensor.name}}</p>
        <p class="sensor-fun">Roleta</p>
        <input
            type="image"
            src="{% static 'images/cross.png' %}"
            id="{{sensor.id}}"
            id="sensor-del-button"
            class="sensor-del-button"
            placeholder="{{sensor.id}}"
          />
      </ul>
      {% endif %} {% endfor %}
    </li>
    <li class="add-swiatlo-container" id="add-swiatlo-container">
      {% for sensor in sensors %} {% if sensor.fun == "light" %}
      <ul class="sensor">
        <p class="sensor-name" id="sensor-name">{{sensor.name}}</p>
        <p class="sensor-fun">Światło</p>
        <input
            type="image"
            src="{% static 'images/cross.png' %}"
            id="sensor-del-button"
            class="sensor-del-button"
            placeholder="{{sensor.id}}"
            
          />
      </ul>
      {% endif %} {% endfor %}
    </li>
    <li class="add-aqua-container" id="add-aqua-container">
      {% for sensor in sensors %} {% if sensor.fun == "aqua" %}
      <ul class="sensor">
        <p class="sensor-name" id="sensor-name">{{sensor.name}}</p>
        <p class="sensor-fun">Akwarium</p>
        <input
            type="image"
            src="{% static 'images/cross.png' %}"
            id="sensor-del-button"
            class="sensor-del-button"
            placeholder="{{sensor.id}}"
            
          />
      </ul>
      {% endif %} {% endfor %}
    </li>
    <li class="add-stairs-container" id="add-stairs-container">
      {% for sensor in sensors %} {% if sensor.fun == "stairs" %}
      <ul class="sensor">
        <p class="sensor-name" id="sensor-name">{{sensor.name}}</p>
        <p class="sensor-fun">Schody</p>
        <input
            type="image"
            src="{% static 'images/cross.png' %}"
            id="sensor-del-button"
            class="sensor-del-button"
            placeholder="{{sensor.id}}"
            
          />
      </ul>
      {% endif %} {% endfor %}
    </li>
    <li class="add-rfid-container" id="add-rfid-container">
      {% for sensor in sensors %} 
        {% if sensor.fun == "rfid" %}
          <ul class="sensor">
            <p class="sensor-name" id="sensor-name">{{sensor.name}}</p>
            <p class="sensor-fun">RFID</p>
            <input
                type="image"
                src="{% static 'images/cross.png' %}"
                id="sensor-del-button"
                class="sensor-del-button"
                placeholder="{{sensor.id}}"
                
  
              />
          </ul>
  
            {% for card in cards %}
              {% if card.sensor_id == sensor.id %}
                <ul class="sensor">
                  <p class="sensor-name" id="sensor-name">{{card.name}}</p>
                  <p class="sensor-fun">Karta/brelok</p>
                  <input
                      type="image"
                      src="{% static 'images/cross.png' %}"
                      id="sensor-del-button"
                      class="sensor-del-button"
                      placeholder="{{sensor.id}}"
                    />
                </ul>
        
              {% endif %}
            {% endfor %}
        {% endif %}
      {% endfor %}
    </li>
    <li class="add-btn-container" id="add-btn-container">
      {% for sensor in sensors %} {% if sensor.fun == "btn" %}
      <ul class="sensor">
        <p class="sensor-name" id="sensor-name">{{sensor.name}}</p>
        <p class="sensor-fun">Przycisk</p>
        <input
            type="image"
            src="{% static 'images/cross.png' %}"
            id="sensor-del-button"
            class="sensor-del-button"
            placeholder="{{sensor.id}}"
            
          />
      </ul>
      {% endif %} {% endfor %}
    </li>
    <li class="add-lamp-container" id="add-lamp-container">
      {% for sensor in sensors %} {% if sensor.fun == "lamp" %}
      <ul class="sensor">
        <p class="sensor-name" id="sensor-name">{{sensor.name}}</p>
        <p class="sensor-fun">Lampy</p>
          <input
            type="image"
            src="{% static 'images/cross.png' %}"
            id="sensor-del-button"
            class="sensor-del-button"
            placeholder="{{sensor.id}}"
            
          />
      </ul>
      {% endif %} {% endfor %}
    </li>
  </ul>
  </section>
</div>
<script src="{% static 'script/sensor.js' %}" ></script>
{% endblock content %}
