{% extends 'main.html' %} {% load static %} {% block content %}
<link rel='stylesheet' type='text/css' media='screen' href='{% static "style/sensor.css" %}'>

<div class="container">
  <div style="float: left">
    <div class="add-sensor" style="display:none">
        <input type='text' id='sensor_name' placeholder="Podaj nazwę"> <br>
      <ul class="select">
        <il>
          <input type="radio" name="sen-fun" class="sen-fun" value="temp" checked>
          <label for="temp">Temperatura</label>
        </il>
        <il>
          <input type="radio" name="sen-fun" class="sen-fun" value="sunblind">
          <label for="rolety">Rolety</label>
        </il>
        <il>
        <input type="radio" name="sen-fun" class="sen-fun" value="aqua">
        <label for="aqua">Akwarium</label>
        </il>
        <il>
        <input type="radio" name="sen-fun" class="sen-fun" value="light">
        <label for="led">Swiatlo</label>
        </il>
        <il>
        <input type="radio" name="sen-fun" class="sen-fun" value="stairs">
        <label for="stairs">Schody</label>
        </il>
        <il>
        <input type="radio" name="sen-fun" class="sen-fun" value="rfid">
        <label for="rfid">Czujnik RFID</label>
        </il>
        <il>
        <input type="radio" name="sen-fun" class="sen-fun" value="btn">
        <label for="btn">Przyciski</label>
        </il>
        <il>
          <input type="radio" name="sen-fun" class="sen-fun" value="lamp">
          <label for="lamp">Lampy</label>
        </il>
        <il>
          <input type="radio" name="sen-fun" class="sen-fun" value="uid" id="uid">
          <label for="uid">Krata/brelok</label>
        </il>
        <il class="select-rfid" style="display: none">
            {% for sensor in sensors %}
              {% if sensor.fun == "rfid" %}
              <ul>
                <input type="radio" name="rfid" class="sen-fun-uid" value="uid" id="{{sensor.id}}">
                <label for="uid">{{sensor.name}}</label>
              </ul>
              {% endif %}
            {% endfor %}
        </il>
      </ul>
        <input type='button' value="Zapisz" id="save">
        <input type='button' value="Wróć" id="back">
    </div>
    <div>
      <p id="response"></p>
    </div>
    <div id="add_sensor_button">
      <input type="button" value="Dodaj czujnik" id="f_add_sensor" />
      <input type="button" value="Usuń czujnik" id="add_del_button" />
    </div>
    <input id="search" type="text" placeholder="Szukaj" />
  </div>

  <ul class="sensor-container" id="sensor_container">
    <il>
      <ul  class="sensor">
        <p class="sensor_name_h">Nazwa</p>
        <p class="sensor_fun_h">Funkcja</p>
        <input
            type="image"
            src="{% static 'images/cross.png' %}"
            class="sensor_del_but"
            style="display: none"
          />
        </ul>
    </il>
    <il class="add_sensor_temp_container" id="add_sensor_temp_container">
      {% for sensor in sensors %} {% if sensor.fun == "temp" %}
      <ul class="sensor">
        <p class="sensor_name">{{sensor.name}}</p>
        <p class="sensor_fun">Temperatura</p>
        <input
            type="image"
            src="{% static 'images/cross.png' %}"
            id="{{sensor.id}}"
            class="sensor_del_but"
            style="display: none"
          />
      </ul>
      {% endif %} {% endfor %}
    </il>
    <il class="add_rolety_container" id="add_rolety_container">
      {% for sensor in sensors %} {% if sensor.fun == "sunblind" %}
      <ul class="sensor">
        <p class="sensor_name">{{sensor.name}}</p>
        <p class="sensor_fun">Roleta</p>
        <input
            type="image"
            src="{% static 'images/cross.png' %}"
            id="{{sensor.id}}"
            class="sensor_del_but"
            style="display: none"
          />
      </ul>
      {% endif %} {% endfor %}
    </il>
    <il class="add_swiatlo_container" id="add_swiatlo_container">
      {% for sensor in sensors %} {% if sensor.fun == "light" %}
      <ul class="sensor">
        <p class="sensor_name">{{sensor.name}}</p>
        <p class="sensor_fun">Światło</p>
        <input
            type="image"
            src="{% static 'images/cross.png' %}"
            id="{{sensor.id}}"
            class="sensor_del_but"
            style="display: none"
          />
      </ul>
      {% endif %} {% endfor %}
    </il>
    <il class="add_aqua_container" id="add_aqua_container">
      {% for sensor in sensors %} {% if sensor.fun == "aqua" %}
      <ul class="sensor">
        <p class="sensor_name">{{sensor.name}}</p>
        <p class="sensor_fun">Akwarium</p>
        <input
            type="image"
            src="{% static 'images/cross.png' %}"
            id="{{sensor.id}}"
            class="sensor_del_but"
            style="display: none"
          />
      </ul>
      {% endif %} {% endfor %}
    </il>
    <il class="add_stairs_container" id="add_stairs_container">
      {% for sensor in sensors %} {% if sensor.fun == "stairs" %}
      <ul class="sensor">
        <p class="sensor_name">{{sensor.name}}</p>
        <p class="sensor_fun">Schody</p>
        <input
            type="image"
            src="{% static 'images/cross.png' %}"
            id="{{sensor.id}}"
            class="sensor_del_but"
            style="display: none"
          />
      </ul>
      {% endif %} {% endfor %}
    </il>
    <il class="add_rfid_container" id="add_rfid_container">
      {% for sensor in sensors %} 
        {% if sensor.fun == "rfid" %}
          <ul class="sensor">
            <p class="sensor_name">{{sensor.name}}</p>
            <p class="sensor_fun">RFID</p>
            <input
                type="image"
                src="{% static 'images/cross.png' %}"
                id="{{sensor.id}}"
                class="sensor_del_but"
                style="display: none"
              />
          </ul>
  
            {% for card in cards %}
              {% if card.sensor_id == sensor.id %}
                <ul class="sensor">
                  <p class="sensor_name">{{card.name}}</p>
                  <p class="sensor_fun">Karta/brelok</p>
                  <input
                      type="image"
                      src="{% static 'images/cross.png' %}"
                      id="card {{card.id}}"
                      class="sensor_del_but"
                      style="display: none"
                    />
                </ul>
        
              {% endif %}
            {% endfor %}
        {% endif %}
      {% endfor %}
    </il>
    <il class="add_btn_container" id="add_btn_container">
      {% for sensor in sensors %} {% if sensor.fun == "btn" %}
      <ul class="sensor">
        <p class="sensor_name">{{sensor.name}}</p>
        <p class="sensor_fun">Przycisk</p>
        <input
            type="image"
            src="{% static 'images/cross.png' %}"
            id="{{sensor.id}}"
            class="sensor_del_but"
            style="display: none"
          />
      </ul>
      {% endif %} {% endfor %}
    </il>
    <il class="add_lamp_container" id="add_lamp_container">
      {% for sensor in sensors %} {% if sensor.fun == "lamp" %}
      <ul class="sensor">
        <p class="sensor_name">{{sensor.name}}</p>
        <p class="sensor_fun">Lampy</p>
          <input
            type="image"
            src="{% static 'images/cross.png' %}"
            id="{{sensor.id}}"
            class="sensor_del_but"
            style="display: none"
          />
      </ul>
      {% endif %} {% endfor %}
    </il>
  </ul>
  </div>
</div>
<script src="{% static 'script/sensor.js' %}" ></script>
{% endblock content %}
