{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Reset password" %} {% endblock %}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/password_reset.css" %}'
/>
<form method="post" class="Password-reset">
    {% csrf_token %}
    <h1 class="Password-reset__h1">{% trans "Password reset" %}</h1>
    <p class="Password-reset__p">{% trans "Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one."%}</p>
    {% for field in form %}
    <div class="Password-reset__div">
      <label for="id_{{field.name}}" class="Password-reset__div__label">
        {{field.label}}
      </label>
      {{ field }}
      {{ field.errors }}
    </div>
    {% endfor %}
    <button type="submit" class="Password-reset__submit">{% trans "Reset my password" %}</button>
  </form>
  
  {% endblock content %}