{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block title %} {%trans "Reset password"%} {% endblock %}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/password_reset.css" %}'
/>

<form method="post" class="Password-reset-new">
    {% csrf_token %}
    <h1 class="Password-reset-new__h1">{%trans "Reset password"%}</h1>
    {% for field in form %}
    <div class="Password-reset-new__div">
      <label for="id_{{field.name}}" class="Password-reset-new__div__label">
        {{field.label}}
      </label>
      {{ field }}
      {{ field.errors }}
    </div>
    {% endfor %}
    <button type="submit" class="Password-reset-new__submit">{% trans "Save" %}</button>
  </form>

{% endblock content %}
