{% extends 'main.html' %}
{% load static %}
{% block title %} Reset hasła {% endblock %}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/password_reset.css" %}'
/>
<form method="post" class="Password-reset">
    {% csrf_token %}
    <h1 class="Password-reset__h1">Reset hasła</h1>
    <p class="Password-reset__p">Proszę podaj emaila do konta którego nie pamiętasz hasła.</p>
    {% for field in form %}
    <div class="Password-reset__div">
      <label for="id_{{field.name}}" class="Password-reset__div__label">
        {{field.label}}
      </label>
      {{ field }}
      {{ field.errors }}
    </div>
    {% endfor %}
    <button type="submit" class="Password-reset__submit">Wyślij wiadomość</button>
  </form>
  
  {% endblock content %}