{% extends 'main.html' %}
{% load static %}
{% block title %} Reset hasła {% endblock %}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/password_reset.css" %}'
/>
<div class="Password-reset-div-complete">
    <h1>Resetowanie hasła zakończone</h1>
    <p>Twoje hasło zostało ustawione. Możesz się teraz zalogować.</p>
    <a class="Password-reset-div-complete__a" href="{% url 'login' %}"> Zaloguj</a>
</div>

{% endblock content %}
