{% load i18n %}
<form method="post" class="Image-change" enctype="multipart/form-data">
  {% csrf_token %}
  <h1 class="Image-change__h1">{% trans "Images change" %}</h1>
  
  {% for field in form %}
    <div class="Image-change__div">
      <label for="id_{{field.name}}" class="Image-change__div__label"
        >{{field.label}}</label
      >
      {{ field }}
      {{field.errors}}
    </div>
  {% endfor %}
  {{form.non_field_errors}}
  <button name="save" type="submit" class="Image-change__submit">
    {% trans "Save image(s)" %}
  </button>
  <button name="reset" class="Image-change__submit-reset">
    {% trans "Reset images" %}
  </button>
</form>
