{% extends "main.html" %}
{% load static %}
{% block title %} Ustawienia {%endblock %}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/user_page.css" %}'
/>
<section class="Nav__profil" id="profil-buttons">
  <a class="Nav__profil__a" href="{% url 'user_change_password'%}">Zmień hasło</a>
  <a class="Nav__profil__a" href="{% url 'user_change_email'%}">Zmień email</a>
  <a class="Nav__profil__a" href="{% url 'user_change_image'%}">
    Zmień zdjęcia na stronie startowej
  </a>
  <a class="Nav__profil__a" href="{% url 'user_delete'%}">
    Usuń konto
    </a>
</section>
<section>
  {% if action == 'password'%}
    {% include 'user_page_password.html'%}
  {% elif action == 'email' %}
    {% include 'user_page_email.html'%}
  {% elif action == 'image' %}
    {% include 'user_page_image.html'%}
  {% elif action == 'delete' %}
    {% include 'user_page_delete.html'%}
  {% endif %}
</section>
<div class="Messages">
  {% if messages %}
    {% for message in messages %}
      <li {% if message.tags %} class="Messages__{{ message.tags }}" {% endif %}>
        {{ message }}
      </li>
    {% endfor %}
  {% endif %}
</div>

{% endblock content %}
