{% extends 'main.html' %}
{% load static %}
{% block title %} Schody {% endblock %}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/stairs.css" %}'
/>
<div class="Select-stairs" id="select-stairs">
  <h1>Wybierz schody</h1>
  <div class="Select-stairs__line"></div>
  {% for sensor in sensors %}
  <button class="Select-stairs__button" id="{{sensor.id}}">
    {{sensor.name}}
  </button>
  {% endfor %}
  <h2 class="Select-stairs__mess" id="mess"></h2>
  <p class="Select-stairs__success" id="message"></p>

</div>
<p class="Stairs-error-message" id="stairs-error-message"></p>

<div class="Stairs-containers" id="stairs-containers">
  <div class="Select-stairs__line"></div>
  <label class="Stairs-containers__label" for="lightingTime"
    >Czas świecenia [s]</label>
  <input
    class="Stairs-containers__input"
    type="number"
    id="lightingTime"
    min="1"
  />
  <button class="Stairs-containers__button" id="lightingTime">Ustaw</button>
  <label class="Stairs-containers__label" for="brightness">Jasność [%]</label>
  <input
    class="Stairs-containers__input"
    type="number"
    id="brightness"
    min="0"
    max="100"
  />
  <button class="Stairs-containers__button" id="brightness">Ustaw</button>
  <label class="Stairs-containers__label" for="step">Ilość kroków</label>
  <input class="Stairs-containers__input" type="number" id="step" min="1" />
  <button class="Stairs-containers__button" id="step">Ustaw</button>
  <button class="Stairs-containers__button" id="stairs-button"></button>
</div>


<script src="{% static 'script/stairs.js'%}"></script>
{% endblock content %}
