.container{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.containers-aqua{
    display: none;
    text-align: center;
}

.select-aqua {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.button{
    margin: 0.5rem;
}

.active-aqua{
    display:block;
}
