
.led_container {
	display: flex;
	justify-content: center;
	flex-direction:column;
	align-items:center;
}
.led_container div{
	display: flex;
	justify-content: space-between;
}
.led_container p{
	margin-right: 1em;
	color: rgb(255, 255, 255);
}

.light-error-message{
	margin: 0;
	padding: 0;
}