.Sensor-add {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-right: 0em;
  padding-top: 1rem;
}
.Sensor-add--active {
  display: flex;
}
.Sensor-add__name {
  border-radius: 10px;
  border-color: white;
  font-size: 0.75em;
  margin-top: 1em;
  height: 1.5em;
}
.Sensor-add__select {
  margin: 0;
  padding: 1rem;
}
.Sensor-add__select__li {
  list-style-type: none;
}
.Sensor-add__select__li__sensor-fun {
  place-self: center;
  position: relative;
}
.Sensor-add__select__li__sensor-fun::before {
  content: "";
  width: 150px;
  height: 30px;
  position: absolute;
  top: -7.5px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #81d4fa;
  transition: transform 0.3s;
  border-radius: 15px;
  transform: scaleX(0);
}
.Sensor-add__select__li__sensor-fun:checked::before {
  transform: scaleX(1);
}

.Sensor-add__select__select-rfid {
  display: none;
}
.Sensor-add__select__select-rfid ul {
  margin-top: 0.25em;
  padding: 0;
  margin-left: 2em;
}
.Sensor-add__select__select-rfid--active {
  display: block;
}
.Sensor-add__select__select-rfid__uid + label {
  position: relative;
}
.Sensor-add__select__select-rfid__uid + label::before {
  content: "";
  width: calc(100% + 50px);
  height: auto;
  position: absolute;
  top: 0;
  left: -25px;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.5);
  transition: transform 0.3s;
  border-radius: 15px;
  transform: scaleX(0);
}
.Sensor-add__select__select-rfid__uid:checked + label::before {
  transform: scaleX(1);
}

.Sensor-add__button-save,
.Sensor-add__button-back {
  margin-top: 0.25em;
  font-size: 1em;
  width: 6.5em;
  background: none;
  border-radius: 15px;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 2px;
  cursor: pointer;
  position: relative;
}
.Sensor-add__message {
  text-align: center;
}

.Add-sensor-button {
  display: none;
  justify-content: center;
  gap: 10px;
  margin-top: 1em;
}
.Add-sensor-button--active {
  display: flex;
}
.Add-sensor-button__add,
.Add-sensor-button__delete {
  margin-top: 0.25em;
  font-size: 1em;
  width: 7.5em;
  background: none;
  border-radius: 15px;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 2px;
  cursor: pointer;
  position: relative;
}

.Sensor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Sensor-container__search {
  border-radius: 10px;
  border-color: white;
  font-size: 0.75em;
  margin-top: 1em;
  height: 1.5em;
}
.Sensor-container__ul {
  padding: 0;
  list-style: none;
}

.Sensor-container__ul__sensor {
  padding: 0;
  display: flex;
}
.Sensor-container__ul__sensor--search {
  display: none;
}
.Sensor-container__ul__sensor__name {
  word-wrap: break-word;
  width: max(150px, min(30vw, 500px));
  width: max(150px, min(30dvw, 500px));
}

.Sensor-container__ul__sensor__sensor-img {
  width: 2.5em;
  place-self: center;
  margin-left: 0.5em;
}

.Sensor-container__ul__sensor__del-button {
  display: none;
  place-self: center;
  width: 3.5em;
  margin-left: 2em;
}

.Sensor-container__ul__sensor__del-button--active {
  display: block;
}

.Sensor-container__ul__sensor__function {
  display: flex;
  justify-content: center;
}
@media (min-width: 1000px) {
  .Add-sensor-button__delete::before,
  .Add-sensor-button__add::before,
  .Sensor-add__button-save::before,
  .Sensor-add__button-back::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: transform 0.3s;
    border-radius: 15px;
    transform: scaleX(0);
    background-color: white;
  }
  .Add-sensor-button__delete:hover::before,
  .Add-sensor-button__add:hover::before,
  .Sensor-add__button-save:hover::before,
  .Sensor-add__button-back:hover::before {
    transform: scaleX(1);
  }

  .Add-sensor-button__delete::before {
    background-color: rgb(255, 0, 0);
  }
  .Add-sensor-button__add::before {
    background-color: rgb(0, 255, 0);
  }
}
