.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.select-stairs{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.select-stairs input {
  margin: 0.5rem;
}
.stairs_containers{
  display: flex;
  flex-direction: column;
  display: none;
}
.stairs_containers div {
  margin:1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.stairs_containers div input{
  width:30%;
}
.stairs_containers div label{
  font-size: 2rem;
}
.stairs-error-message {
  margin: 0;
  padding: 0;
}


