
body {
  margin: 0;
  background-color: rgb(80, 80, 80);
  font-size: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: black;
}
.path {
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.path-name{ 
  margin: 0;
  padding-left: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.nav-toggle {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.bar {
  width: 100%;
  height: 0.25rem;
  border-radius: 0.1rem;
  background-color: white;
}

.nav-links {
  width: 100%;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.nav-links li {
  list-style-type: none;
  padding: 0.25rem;
}

.nav-links li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}


.active {
  display: flex;
}

@media only screen and (min-width: 1000px) {
  .nav-toggle {
    display: none;
  }
  .navbar {
    overflow: hidden;
    height: 2rem;
    display: flex;
    justify-content: center;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
  }

  .navbar a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    padding: 14px 16px;
  }

  .navbar a:hover {
    color: black;
    background-color: rgb(80, 80, 80);
    transform: scale(1.1);
    transition: 0.5s;
  }
}
