.container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.sunblind-containers{
	padding: 0;
	width: 100%;
}

.sunblind-containers li{
	display: flex;
	justify-content: center;

}
.sunblind-containers li p{
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	width: 120px;
}
.sunblind-containers li div{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 120px;
}

.sunblind-containers li a{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 1.5rem;
	width: 120px;
}


.sunblind-containers a:hover {
	border-radius: 10%;
	background-color: green;
}

.sunblind-containers li div p {
	margin: 0;
}
