{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block title%} {% trans "Calibration" %} {%endblock%} 
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/calibration.css" %}'
/>
<div
  class="Calibration-buttons Calibration-buttons--active"
  id="calibration-buttons"
>
  <button
    type="button"
    id="up"
    class="Calibration-button__up"
  ></button>
  <button id="save" class="Calibration-button__save">{% trans "Save" %}</button>
  <button
    type="button"
    id="down"
    class="Calibration-button__down"
  ></button>
</div>
<div class="Save-button" id="save-buttons">
  <button id="repeat" class="Save-button__repeat">{% trans "Yes" %}</button>
  <a href="{% url 'sunblind' %}"
    ><button class="Save-button__end">{% trans "No" %}</button></a
  >
</div>
<p class="Message" id="message">
  {% trans 'During the calibration process, please open the sunblind and press "save" button' %}
</p>
<script src="{% static 'script/calibration.js' %}"></script>
{% endblock content %}
