{% extends 'main.html' %}
{% load static %}
{% block title %} Rolety {% endblock%}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/sunblind.css" %}'
/>
<button class="Calibration-button" id="calibration">Kalibracja</button>
<ul class="Sunblind-containers">
  <li>
    <p class="Sunblind-containers__sunblind-name">Nazwa</p>
    <p class="Sunblind-containers__div">Suwak</p>
    <p
      class="Sunblind-containers__calibration-button-header"
      id="button-calibration"
    >
      Kalibracja
    </p>
  </li>
  {% for sensor in sensors %}
    <li>
      <p class="Sunblind-containers__sunblind-name">{{sensor.name}}</p>
      <div class="Sunblind-containers__div">
        <input
          type="range"
          value="{{sensor.value}}"
          class="Sunblind-containers__div__slider"
          id="slider"
          placeholder="{{sensor.id}}"
        />
        <p class="Sunblind-containers__div__slider-value" id="{{sensor.id}}">
          {{sensor.value}}
        </p>
      </div>
      <a
        href="{% url 'calibration' sensor.id %}"
        class="Sunblind-containers__calibration-button"
        id="button-calibration">
        Kalibruj
      </a>
      <p class="Sunblind-containers__messages" id="message"></p>
    </li>
  {% endfor %}
</ul>
<script src="{% static 'script/sunblind.js' %}"></script>
{% endblock content %}
