{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Light" %} {%endblock %}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/light.css" %}'
/>
<section class="Led-container" id="led-container">
  <div class="Led-container__div-header">
    <p class="Led-container__div__light-name">{%trans "Name"%}</p>
    <p class="Led-container__div__light-state">{%trans "Status"%}</p>
  </div>
  {% for sensor in sensors %}
    <div class="Led-container__div">
      <p class="Led-container__div__light-name">{{sensor.name}}</p>
      <input
        type="image"
        class="Led-container__div__image"
        id="{{sensor.id}}"
        {% if sensor.light %}
          value="1"
          src="{% static 'images/lamp_on.png' %}"
        {% else %}
          value="0"
          src="{% static 'images/lamp_off.png' %}"
        {% endif %}
      />
      <p class="Led-container__div__error-message"></p>
    </div>
  {% endfor %}
</section>
<script src="{% static 'script/light.js' %}"></script>
{% endblock content %}
