{% extends 'main.html' %}
{% load static %}
{% block title%} Kalibracja {%endblock%} 
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/calibration.css" %}'
/>
<div
  class="Calibration-buttons Calibration-buttons--active"
  id="calibration-buttons"
>
  <button
    type="button"
    id="up"
    class="Calibration-button__up"
  ></button>
  <button id="save" class="Calibration-button__save">Zapisz</button>
  <button
    type="button"
    id="down"
    class="Calibration-button__down"
  ></button>
</div>
<div class="Save-button" id="save-buttons">
  <button id="repeat" class="Save-button__repeat">Tak</button>
  <a href="{% url 'sunblind' %}"
    ><button class="Save-button__end">Nie</button></a
  >
</div>
<p class="Message" id="message">
  Zaczynamy kalibrację, proszę zasunąć roletę i nacisnąć przycisk "Zapisz"
</p>
<script src="{% static 'script/calibration.js' %}"></script>
{% endblock content %}
