{% extends 'main.html' %}
{% load static %}
{% block title %} RPL {% endblock %}
{% block content %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href='{% static "style/rpl.css" %}'
/>
<ul class="Elements">
  <li class="Elements__lamps">
    <p class="Elements__lamps__message">Wybierz lampy</p>
    {% for lamp in lamps %}
      <ul class="Elements__lamps__lamp">
        <input
          class="Elements__lamps__lamp__select"
          type="radio"
          id="lamp"
          name="sen_fun"
          value="{{lamp.id}}"
        />
        <label >{{lamp.name}}</label>
        </ul>
    {% endfor %}
  </li>
  <li class="Elements__rfids">
    <p class="Elements__rfids__message">Wybierz czujnik</p>
    {% for rfid in rfids %}
      <ul class="Elements__rfids__rfid">
        <input
          class="Elements__rfids__rfid__select"
          type="checkbox"
          id="rfid"
          value="{{rfid.id}}"
        />
        <label >{{rfid.name}}</label>
      </ul>
    {% endfor %}
  </li>
  <li class="Elements__buttons">
    <p class="Elements__buttons__message">Wybierz przyciski</p>
    {% for buton in buttons %}
      <ul class="Elements__buttons__button">
        <input
          class="Elements__buttons__button__select"
          type="checkbox"
          id="button"
          value="{{buton.id}}"
        />
        <label >{{buton.name}}</label>
      </ul>
    {% endfor %}
  </li>
</ul>
<button class="Button" id="rpl-btn">Zapisz</button>
<p class="Message" id="mess"></p>
<script src='{% static "script/rpl.js" %}'></script>
{% endblock content %}
