<nav class="navbar">
  <div class="path" >
    <p class="path-name">321</p>
    <div class="nav-toggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  <ul class="nav-links">
    <li><a href="{% url 'light' %}">Światła</a></li>
    <li><a href="{% url 'stairs' %}">Schody</a></li>
    <li><a href="{% url 'chart' %}">Temperatura</a></li>
    <li><a href="{% url 'aquarium' %}">Akwarium</a></li>
    <li><a href="{% url 'sunblind' %}">Rolety</a></li>
    <li><a href="{% url 'sensor' %}">Urządzenia</a></li>
    <li><a href="{% url 'rpl' %}">RPL</a></li>

    {% if request.user.is_authenticated %}
    <li><a href="{% url 'logout' %}">Wyloguj</a></li>
    {% else %}
    <li><a href="{% url 'login' %}">Zaloguj</a></li>
    {% endif %}
  </ul>
</nav>
