.Nav__profil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  gap: 1em;
}

.Nav__profil__a,
.Delete-user__back {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border-style: solid;
  font-size: 1em;
  width: 17em;
  height: 1.5em;
  background: none;
  border-radius: 15px;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 2px;
  cursor: pointer;
  position: relative;
}
.URL-change,
.Image-change,
.Email-change,
.Password-change,
.Delete-user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.URL-change__h1,
.Image-change__h1,
.Email-change__h1,
.Password-change__h1 {
  margin: 0;
  margin-top: 0.5em;
  font-size: 1.5em;
}
.URL-change__div,
.Email-change__div,
.Password-change__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.URL__div__input,
.Email__div__input,
.Register__div__input {
  border-radius: 10px;
  border-color: white;
  font-size: 1em;
  margin-top: 0.75em;
  height: 1.5em;
}

.errorlist {
  margin-top: 0.25em;
  padding: 0;
}
.errorlist li {

  list-style-type: none;
  font-size: 0.75em;
  color: red;
}
.URL-change__submit,
.Delete-user__submit,
.Image-change__submit,
.Image-change__submit-reset,
.Email-change__submit,
.Password-change__submit {
  font-size: 1em;
  width: 8em;
  background: none;
  border-radius: 15px;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 2px;
  cursor: pointer;
  position: relative;
}
.Delete-user__submit {
  width: 10em;
}

.Image-change__submit,
.Image-change__submit-reset {
  margin-top: 0.5em;
}
.URL-change__p,
.Email-change__p {
  margin: 0;
  margin-bottom: 0.5em;
}

.Image-change__div {
  display: grid;
  gap: 7px;
  justify-items: center;
}

.Messages__success {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1em;
  color: rgb(0, 150, 0);
}
.URL-change__submit::before,
.Delete-user__submit:before,
.Nav__profil__a:before,
.Delete-user__back:before,
.Image-change__submit:before,
.Image-change__submit-reset:before,
.Email-change__submit:before,
.Password-change__submit:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: white;
  transition: transform 0.3s;
  border-radius: 15px;
  transform: scaleX(0);
}
.Delete-user__back:before {
  background-color: rgb(0, 255, 0);
}
.Delete-user__submit:before {
  background-color: red;
}
.URL-change__submit:hover::before,
.Delete-user__back:hover::before,
.Delete-user__submit:hover::before,
.Nav__profil__a:hover::before,
.Image-change__submit:hover::before,
.Image-change__submit-reset:hover::before,
.Email-change__submit:hover::before,
.Password-change__submit:hover::before {
  transform: scaleX(1);
}
