{% load i18n %}

<nav class="Navbar">
  <div class="Navbar__path">
    <a href="{% url 'home' %}" class="Navbar__path-name" id="path-name"></a>
    <div class="Navbar__path__nav-toggle" id="nav-toggle">
      <div class="Navbar__path__nav-toggle__bar"></div>
      <div class="Navbar__path__nav-toggle__bar"></div>
      <div class="Navbar__path__nav-toggle__bar"></div>
    </div>
  </div>
  <ul class="Navbar__nav-links" id="nav-links">
    {% if request.user.is_authenticated %}
      <li class="Navbar__nav-links__li">
        <a class="Navbar__nav-links__li__a" href="{% url 'light' %}">{% translate "Light" %}</a>
      </li>
      <li class="Navbar__nav-links__li">
        <a class="Navbar__nav-links__li__a" href="{% url 'stairs' %}">{% translate "Stairs"%}</a>
      </li>
      <li class="Navbar__nav-links__li">
        <a class="Navbar__nav-links__li__a" href="{% url 'chart' %}">{% translate "Chart"%}</a>
      </li>
      <li class="Navbar__nav-links__li">
        <a class="Navbar__nav-links__li__a" href="{% url 'aquarium' %}">{% translate "Aquarium"%}</a>
      </li>
      <li class="Navbar__nav-links__li">
        <a class="Navbar__nav-links__li__a" href="{% url 'sunblind' %}">{% translate "Sunblinds"%}</a>
      </li>
      <li class="Navbar__nav-links__li">
        <a class="Navbar__nav-links__li__a" href="{% url 'devices' %}">{% translate "Devices"%}</a>
      </li>
      <li class="Navbar__nav-links__li">
        <a class="Navbar__nav-links__li__a" href="{% url 'rpl' %}">{% translate "RPL"%}</a>
      </li>
      <li class="Navbar__nav-links__li">
        <a class="Navbar__nav-links__li__a" href="{% url 'user_page' %}">{% translate "Settings"%}</a>
      </li>
      <li class="Navbar__nav-links__li">
        <a class="Navbar__nav-links__li__a" href="{% url 'logout' %}">{% trans "Logout"%}</a>
      </li>
    {% else %}
      <li class="Navbar__nav-links__li">
        <a class="Navbar__nav-links__li__a" href="{% url 'login' %}">{% trans "Login"%}</a>
      </li>
    {% endif %}
  </ul>
</nav>